.currenciesList {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}

.currencyItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
  margin-top: 8px;
}

.currencyItem:first-child {
  margin-top: 0;
}

.currencyDetail {
  width: 100%;
  padding: 4px;
}

.currencyDetailTitle {
  display: flex;
  justify-content: space-between;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
